<div class="container">
    <h2>Lets Introduce Ourselves</h2>
           
        <h4><i>Mobile development group, SDS, IIT Roorkee is an active student group directing its efforts towards creating useful mobile applications and promoting tech based leaning for the same. The group is a part of SDSLabs which shares the same motto of promoting tech based activities.</i></h4>

        
    <h2>Meet our team!</h2>
  
    <div class="row">

        <div class="col-lg-3 col-xs-4">
             <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="anshulshah96"><a class="LI-simple-link" href='https://in.linkedin.com/in/anshulshah96?trk=profile-badge'>Anshul Shah</a></div>
        </div>
        <div class="col-lg-3 col-xs-4">
             <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="anshulshah96"><a class="LI-simple-link" href='https://in.linkedin.com/in/anshulshah96?trk=profile-badge'>Anshul Shah</a></div>
        </div>
        <div class="col-lg-3 col-xs-4">
             <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="anshulshah96"><a class="LI-simple-link" href='https://in.linkedin.com/in/anshulshah96?trk=profile-badge'>Anshul Shah</a></div>
        </div>
        <div class="col-lg-3 col-xs-4">
             <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="anshulshah96"><a class="LI-simple-link" href='https://in.linkedin.com/in/anshulshah96?trk=profile-badge'>Anshul Shah</a></div>
        </div>
        
         <div class="col-lg-4 col-xs-4">
            <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="anshulshah96"><a class="LI-simple-link" href='https://in.linkedin.com/in/anshulshah96?trk=profile-badge'>Anshul Shah</a></div>
        </div>
         <div class="col-lg-4 col-xs-4">
            <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="anshulshah96"><a class="LI-simple-link" href='https://in.linkedin.com/in/anshulshah96?trk=profile-badge'>Anshul Shah</a></div>
        </div>
         <div class="col-lg-4 col-xs-4">
            <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="anshulshah96"><a class="LI-simple-link" href='https://in.linkedin.com/in/anshulshah96?trk=profile-badge'>Anshul Shah</a></div>
        </div>

        <div class="col-lg-3 col-xs-4">
            <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="anshulshah96"><a class="LI-simple-link" href='https://in.linkedin.com/in/anshulshah96?trk=profile-badge'>Anshul Shah</a></div>
        </div>
        <div class="col-lg-3 col-xs-4">
            <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="anshulshah96"><a class="LI-simple-link" href='https://in.linkedin.com/in/anshulshah96?trk=profile-badge'>Anshul Shah</a></div>
        </div>
        <div class="col-lg-3 col-xs-4">
            <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="anshulshah96"><a class="LI-simple-link" href='https://in.linkedin.com/in/anshulshah96?trk=profile-badge'>Anshul Shah</a></div>
        </div>
        <div class="col-lg-3 col-xs-4">
            <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="anshulshah96"><a class="LI-simple-link" href='https://in.linkedin.com/in/anshulshah96?trk=profile-badge'>Anshul Shah</a></div>
        </div>
    </div>
</div>