<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Discover what all the buzz is about!</h2>
                <p>Our apps are available for Android and iOS! Download now to get started!</p>
                <div class="badges">
                    <a class="badge-link" href="https://play.google.com/store/apps/developer?id=MDG,+SDS&hl=en" target="_blank"><img src="{{ "/img/google-play-badge.svg" | prepend: site.baseurl }}"  alt=""></a>
                    <a class="badge-link" href="#"><img src="{{ "/img/app-store-badge.svg" | prepend: site.baseurl }}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
