<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h2 style="color: black">Mobile Development Group, SDS, IIT Roorkee is an active student group directing its efforts towards creating useful mobile applications and promoting tech based learning for the same!</h2>
                        <a href="https://mdg.sdslabs.co/chat" class="btn btn-outline btn-xl page-scroll">Come chat with us!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup galaxy_s5 portrait black">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="{{ "/img/musicdna.png" | prepend: site.baseurl }}" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
