<section id="portfolio" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Our best products! <i style="color:#21cddb" class="fa fa-globe"></i></h2>
                <p>Try our amazing products</p>
                <hr>
                {% if site.data-ad-client %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.github.com/sdsmdg/RotatingText" class="portfolio-box">
                    <img src="/img/portfolio/1.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Android Libraries
                            </div>
                            <div class="project-name">
                                Rotating Text
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.github.com/sdsmdg/trianglify" class="portfolio-box">
                    <img src="/img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Games
                            </div>
                            <div class="project-name">
                                FLINGit
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.github.com/sdsmdg/MusicDNA" class="portfolio-box">
                    <img src="/img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Entertainment
                            </div>
                            <div class="project-name">
                                MusicDNA
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.github.com/sdsmdg/CampusBuuddy" class="portfolio-box">
                    <img src="/img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Utility
                            </div>
                            <div class="project-name">
                                Campus Buddy
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.github.com/sdsmdg/FLINGit" class="portfolio-box">
                    <img src="/img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Utility
                            </div>
                            <div class="project-name">
                                Trianglify
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.github.com/sdsmdg/Hitball" class="portfolio-box">
                    <img src="/img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Games
                            </div>
                            <div class="project-name">
                                HitBall
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
